<!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#sign_up">Sign Up</a></li>
            <li><a data-toggle="tab" href="#sign_in">Sign In</a></li>
          </ul>
        <div class="modal-body">
          <div class="tab-content">
            <div id="sign_up" class="tab-pane fade in active">
              <h1 class="modal-title" id="myModalLabel">Sign Up</h1>
              <div class="form">
                <%= form_for @user do |f| %>
                   <%= render 'shared/error_messages' %>
                 
                  <%= f.text_field :name, :placeholder => "Name", class: 'form-control' %>
                  
                 
                  <%= f.email_field :email, :placeholder => "Email", class: 'form-control' %>
                  
                  <%= f.password_field :password , :placeholder => "Password (6-20 Characters)", class: 'form-control' %>
                 
                  <%= f.password_field :password_confirmation , :placeholder => "Password Confirmation", class: 'form-control' %>
                 
                  <br>
                  <%= f.label :country, class: 'label-style' %>
                  <%= f.collection_select :country, User::COUNTRIES, :to_s, :to_s, :include_blank => true%>
                  
                  <br>
                  <%= f.submit "Create my account", class: "btn btn-primary btn-lg" %>
                <% end %>
      
              </div>
            </div>
            
            <div id="sign_in" class="tab-pane fade">
              
              <h1 class="modal-title" id="myModalLabel">Sign In</h1>
              <div class="form">
                <%= form_for :session do |f| %>
                   <%= render 'shared/error_messages' %>

                  <%= f.email_field :email, :placeholder => "Email", class: 'form-control' %>
                  
                  <%= f.password_field :password , :placeholder => "Password (6-20 Characters)", class: 'form-control' %>
                  
                  <br>
                  <%= f.label :remember_me, class: "checkbox inline" do %>
                    <%= f.check_box :remember_me %>
                    <span>Remember me on this computer</span>
                  <% end %>
                 
                  <%= f.submit "Sign in", class: "btn btn-primary btn-lg" %>
                <% end %>
      
              </div>
            </div>
          </div>
          
       </div>
      </div>
    </div>
  </div>